# environment variables for ephemeral
export TWITTER_CONSUMER_KEY=abcdefghijklmnopqrstuvwxyz
export TWITTER_CONSUMER_SECRET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJ
export TWITTER_ACCESS_TOKEN=1234567-abcdefghijklmnopqrstuvwxyz
export TWITTER_ACCESS_TOKEN_SECRET=abcdefghijklmnopqrstuvwxyzABC
export MAX_TWEET_AGE=72h
export TWEPOCH=2016-01-01
